
<h3 *ngIf="age>15">{{tableName}}</h3>
<h3>{{age}}</h3>
<table class="my-width" >
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Marks</th>
    </tr>

    <tr *ngFor="let item of studentData">
        <ng-container *ngIf="item.marks>30">
            <td>{{item.name}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.marks}}</td>
        </ng-container>
    </tr>
  </table>


